    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../images/favicon.ico">
        <link rel="stylesheet" href="../../public/styles/geral-styles.css">
        <link rel="stylesheet" href="../../public/styles/header-home.css">
        <link rel="stylesheet" href="../../public/styles/menu.css">
        <link rel="stylesheet" href="../../public/styles/about.css">

        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

        <title>Mel amor e ju</title>
    </head>
    <body>
<header>
            <div class="header-div">
                <div>
                    <a href="../../index.html">
                        <img src="../images/logonovo.png" alt="logo mel amor e ju" class="logo">
                    </a>
                </div>
                
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" >
                        <span></span>
                        <span></span>
                        <span></span>
                        
                        <ul id="menu">
                            <a href="../../index.html" target="_self" class="links">
                                <li> Home </li>
                            </a>
            
                            <a href="../views/products.html" target="_self" rel="next" class="links">
                                <li> Produtos </li>
                            </a>
            
                            <a href="../views/about.html" target="_self" rel="next" class="links">
                                <li> Sobre nós </li>
                            </a>
            
                            <a href="../views/contact.html" target="_self" rel="next" class="links">
                                <li> Contato </li>
                            </a>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <h1>Mel amor e Ju</h1>
        <section class="alin-text">
            <div class="text">
                <h2>Por que esse nome?</h2>
                <p>Estavamos tentando ter um bebê na época que comecei a fazer pães de mel. Por algum motivo, não estava dando certo... Deus colocou certeza em nosso coração de que nossa mel estava perto de chegar, então escolhi esse nome como uma representação dessa certeza de que a promessa dele logo se cumpriria.</p>
                <p>Mel, representa nossa Íris Melissa, amor, significa meu primeiro amor , Marcus Vinicius Lopes Gouveia. E ju, sou eu né rsrsrs... Por isso , o trio perfeito do sabor! Minha vida não teria a menor graça sem eles... &#x1F970;</p>
                <p>Além disso, esse nome tem ouro significado.Sim é duplo. Mel, significa também a doçura e a qualidade dos meus pães de mel. Amor, representa o carinho com que eu preparo os doces para voçês. Ele é o que faz a qualidade ser tão boa. &#x1F60C;. Ju, simboliza o valor do meu trabalho que permite que cada doce exista por um propósito específico na vida de quem experimenta.</p>
                <div><img src="../images/about-image.jpg" alt="nós" class="a-gente"></div>
            </div>
        </section>
        <footer>&copy; GDesenvolvimento</footer>
    </body>
    </html>