<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../images/favicon.ico">
        <link rel="stylesheet" href="../../public/styles/contact.css">
        <link rel="stylesheet" href="../../public/styles/geral-styles.css">
        <link rel="stylesheet" href="../../public/styles/header-home.css">
        <link rel="stylesheet" href="../../public/styles/menu.css">

        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

        <title>Contato</title>
    </head>
    <body>
        <header>
            <div class="header-div">
                <div>
                    <a href="../../index.html">
                        <img src="../images/logonovo.png" alt="logo mel amor e ju" class="logo">
                    </a>
                </div>
                
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" >
                        <span></span>
                        <span></span>
                        <span></span>
                        
                        <ul id="menu">
                            <a href="../../index.html" target="_self" class="links">
                                <li> Home </li>
                            </a>
            
                            <a href="products.html" target="_self" rel="next" class="links">
                                <li> Produtos </li>
                            </a>
            
                            <a href="about.html" target="_self" rel="next" class="links">
                                <li> Sobre nós </li>
                            </a>
            
                            <a href="contact.html" target="_self" rel="next" class="links">
                                <li> Contato </li>
                            </a>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <section>
            <div class="header-section">
                <h1> Informações de contato </h1>
                <p> Caso você tenha se interessado por nossas delícias, abaixo estão os meios de contato para poder encomendar. </p>
            </div>

            <div class="social-medias-container">
                <div class="contact">
                    <a href="https://api.whatsapp.com/send?phone=5527992327008" target="_blank" rel="noopener" id="whatsimg">
                        <img src="../images/whatsapp.png" alt="whatsapp icon">
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=5527992327008" target="_blank" rel="noopener">
                        <p> 27 99232-7008 </p>                    
                    </a>
                </div>

                <div class="contact">
                    <a href="https://www.facebook.com/melamoreju/photos/?ref=page_internal" target="_blank" rel="noopener" id="faceimg">
                        <img src="../images/facebook.png"  alt=" link facebook" class="social-medias" id="icone-social">
                    </a>
                    <a href="https://www.facebook.com/melamoreju/photos/?ref=page_internal" target="_blank" rel="noopener">
                        <p> Melamoreju </p>
                    </a>
                </div>

                <div class="contact">
                    <a href="https://www.instagram.com/melamoreju/" target="_blank" rel="noopener" id="instaimg">
                        <img src="../images/instagram.png" alt=" link instagram" class="social-medias" id="icone-social"/>
                    </a>
                    <a href="https://www.instagram.com/melamoreju/" target="_blank" rel="noopener">
                        <p> @melamoreju </p>
                    </a>
                </div>
            </div>
        </section>
        <footer>&copy; GDesenvolvimento</footer>
    </body>
</html>